*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: normal;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

html,body{
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/************************************************/

nav{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

#logo{
    width: 236px;
}

nav ul{
    display: flex;
}

nav li a{
    font-size: 14px;
    margin-left: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #b4b4b4;
    transition: 1s;
}

nav li a:hover{
    color: gray;
    transition: 1s;
}

.nav-mo{
    position: relative;
    display: block;
    opacity: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.056);
    overflow: hidden;
    transition: 2s;
}

.nav-mo li{
    display: flex;

}

.nav-mo li a{
    text-transform: uppercase;
    color: #556877;
    width: 100%;
    padding: .7rem;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    transition: 1s;
}

.nav-mo li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.09);
    transition: 1s;
}

.anim-nav{
    opacity: 1;
    height: 100vh;
    transition: 2s;
}

.bar{
    display: none;
    color: rgba(128, 128, 128, 0.664);
    font-size: 2rem;
}

@media(max-width:860px){
    nav ul{
        display: none;
    }

    .bar{
        display: block;
    }
}

/*** HEADER ***/

.mosaico-single{
    float: left;
    width: calc(100% / 6);
}

.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

/************************************************/

section.servicos > .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.box-servico{
    background-image: url(imagens/icone_dente.png);
    background-repeat: no-repeat;
    background-position: center calc(100% - 10px);
    background-size: 12px;
}

.box-servico h2{
    text-transform: uppercase;
    font-size: 15px;
}

.box-servico  p{
    margin-top: 8px;
    font-size: 12px;
}

section.servicos > .container .box-servico:nth-of-type(1){
    width: 30%;
    background-color: #556877;
    padding: 30px 2%;
}

section.servicos > .container .box-servico:nth-of-type(2){
    width: 40%;
    background-color: #658193;
    background-image: none;
    padding: 45px 2%;
}

section.servicos > .container .box-servico:nth-of-type(3){
    width: 30%;
    background-color: #556877;
    padding: 30px 2%;
}

/************************************************/

section.perfil > .container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 30px 1rem;
}

.perfil-img{
    width: 40%;
}

.perfil-info{
    width: 50%;
    text-align: justify;
    flex: 1 1 calc(942px - 40%);
}

.perfil-info h2{
    text-transform: uppercase;
    color: #4C6676;
}

.perfil-info p{
    margin-top: 30px;
}

@media(max-width: 942px){

    .perfil-img{
        display: flex;
        padding-bottom: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .perfil-img  img{
        margin: 0 auto;
    }
}

@media(max-width: 700px){
    section.servicos > .container{
        flex-direction: column;
    }

    section.servicos > .container .box-servico:nth-of-type(1){
        width: 60%;
        background-color: #556877;
        padding: 30px 2%;
    }
    
    section.servicos > .container .box-servico:nth-of-type(2){
        width: 90%;
        background-color: #658193;
        background-image: none;
        padding: 45px 2%;
    }
    
    section.servicos > .container .box-servico:nth-of-type(3){
        width: 60%;
        background-color: #556877;
        padding: 30px 2%;
    }
}

/************************************************/

section.videos{
    text-align: center;
}

.chev h2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.chev h2 i{
    color: rgba(0, 0, 0, 0.115);
    font-size: 15px;
    padding-bottom: 1px;
}

.chev h2::before{
    display: inline-block;
    content: '';
    height: 1px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.052);
}

.chev h2::after{
    display: inline-block;
    content: '';
    height: 1px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.052);
}

section.videos > .container{
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    padding-top: 30px;
    padding-inline:1rem;
}

.video{
    position: relative;
    float: left;
    width: 33.3%;
    padding-top: calc(33.3% * 0.53);
}

.video iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
}

/************************************************/

section.tratamentos{
    background-color: rgba(0, 0, 0, 0.044);
    padding: 60px 1rem;
    margin: 60px 0px;
    text-align: center;
}

.titulo{
    text-transform: uppercase;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.297);
}

section.tratamentos > .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: start;
}

.tratamento{
    width: 30%;
    margin-bottom: 40px;
}

.tratamento h2{
    color: #4C6676;
}

.tratamento p{
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
}

@media(max-width:942px){
    .tratamento{
        flex: 1 1 350px;
    }
}
